@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-ui: var(--font-ui);
    --font-title: var(--font-title);
    --font-text: var(--font-text);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: #32aaff;
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: hsl(0, 0%, 13%);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: hsl(0, 0%, 13%);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: hsl(0, 0%, 13%);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: hsl(0, 0%, 13%);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);

    --removed-body-scroll-bar-size: 0px;
}

.dark {
    --background: hsl(0, 0%, 13%);
    --foreground: oklch(0.984 0.003 247.858);
    --card: hsl(0, 0%, 13%);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: hsl(0, 0%, 13%);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: #32aaff;
    --primary-foreground: hsl(0, 0%, 13%);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.35 0.015 260);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.35 0.015 260);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: hsl(0, 0%, 13%);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
}

@utility container {
    width: 1160px;
    max-width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: theme('screens.sm')) {
        max-width: calc(100% - 100px);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground font-text antialiased select-none overflow-x-hidden;
    }

    li {
        list-style: none;
    }

    body.loading {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    body.modal-scrollbar-hidden::-webkit-scrollbar, .scroll-hidden::-webkit-scrollbar {
        display: none;
    }

    button {
        @apply cursor-pointer;
    }

    .swiper-pagination-bullet-active {
        @apply !bg-white
    }

    body[data-scroll-locked] header {
        margin-right: var(--removed-body-scroll-bar-size, 0px);
    }
}

@layer utilities {

    /* scroll */
    .custom-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: #E5E7EB;
        border-radius: 4px;
        cursor: pointer;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background-color: #D1D5DB;
    }

    /* End scroll */
    /*  Carousel  */
    .btn-carousel {
        @apply absolute z-20 top-[40%] -translate-y-[40%] shadow-[0_0_19px_0_rgba(0,0,0,0.251)] bg-white/80 hover:bg-white/90
    }

    .btn-carousel-skeleton {
        @apply absolute z-20 top-[40%] -translate-y-[40%]
    }

    /*  End Carousel  */
    /*  Grid carousel  */
    .bg-grid-carousel {
        @apply absolute top-0 h-full w-[12.5%] z-10 bg-[linear-gradient(90deg,rgba(0,0,0,0.8),rgba(43,43,43,0))];
    }

    .btn-grid-carousel {
        @apply absolute top-1/2 z-20 -translate-y-1/2 hidden sm:flex bg-black/50 hover:bg-black/60;
    }

    /*  End Grid carousel  */
    /* End home */
    /* scroll bar */
    .scroll-bar {
        @apply overflow-y-auto
        [&::-webkit-scrollbar]:w-[6px]
        [&::-webkit-scrollbar-thumb]:rounded-[4px]
        [&::-webkit-scrollbar-thumb]:bg-gray-200
        hover:[&::-webkit-scrollbar-thumb]:bg-gray-300;
    }

    /* End scroll bar */
    .bg-auth {
        @apply bg-no-repeat bg-cover bg-center bg-[url('/auth-bg.png')];
    }

    /* Shadcn ui component*/
    /* form */
    .form {
        @apply w-full flex flex-col gap-y-4;
    }

    /* input */
    [data-slot="input-group"],
    [data-slot="input-group"]:has([data-slot="input-group-control"]:focus-visible) {
        @apply ring-0 ring-offset-0;
    }

    [data-slot='input-group-control'],
    [data-slot='input'] {
        @apply focus-visible:ring-0 text-sm
    }

    /* textarea */
    [data-slot='textarea'] {
        @apply focus-visible:ring-0 text-sm
    }

    /*  calendar  */
    [data-slot="calendar"] button {
        @apply ring-0 ring-offset-0 cursor-pointer dark:text-white dark:hover:bg-white/10;
    }

    [data-slot="calendar"] button[data-selected-single="true"],
    [data-slot="calendar"] button[data-range-start="true"],
    [data-slot="calendar"] button[data-range-end="true"],
    [data-slot="calendar"] button[data-range-middle="true"] {
        @apply ring-0 ring-offset-0;
    }

    [data-slot="calendar"] td[data-focused="true"] button {
        @apply ring-0;
    }

    [data-slot="calendar"] .rdp-dropdown_root {
        @apply ring-0 ring-offset-0;
    }

    [data-slot="calendar"] .rdp-dropdown_root:has(select:focus-visible) {
        @apply ring-0 ring-offset-0 border border-input;
    }

    /*  End calendar  */
    /*  Select  */
    [data-slot="select-trigger"] {
        @apply ring-0 ring-offset-0 focus:ring-0 focus-visible:ring-0;
    }

    [data-slot="select-item"] {
        @apply cursor-pointer dark:hover:bg-white/10;
    }

    /*  End Select  */
    /*  Popover  */
    [data-slot="popover-content"] {
        @apply w-[var(--radix-popover-trigger-width)] p-0;
    }

    /*  End Popover  */
    /*  Dropdown  */
    [data-slot="dropdown-menu-item"] {
        @apply cursor-pointer;
    }

    /*  End Dropdown  */
    /*  Tooltip  */
    [data-slot="tooltip-content"] {
        @apply text-wrap
    }

    /* Pagination */
    [data-slot='pagination-link'] > span {
        @apply hidden
    }

    /* State active */
    [data-slot="pagination-link"][data-active="true"] {
        @apply bg-primary text-white border-primary;
    }

    /* Slider */
    [data-slot="slider-track"] {
        @apply bg-white/10
    }

    [data-slot="slider-thumb"] {
        @apply ring-ring/0
    }

    /* End Shadcn ui component*/
}


@layer components {

    /* common */
    .section-list-comic {
        @apply container pt-2 pb-20
    }

    .text-subtle {
        @apply text-orange-400
    }

    .heading {
        @apply font-title text-xl py-5 lg:text-[26px] text-primary dark:text-white tracking-wide
    }

    .text-link {
        @apply text-destructive hover:underline leading-none
    }

    /* common */
    /* header */
    .text-header {
        @apply text-[15px]
    }

    .mt-header {
        @apply mt-[56px];
    }

    /* footer */
    .shadow-layout {
        @apply shadow-[0_0_5px_1px_rgba(158,179,193,0.5)]
    }

    /* home */
    .section-home {
        @apply container pb-[30px] sm:pb-10 md:pb-[50px] lg:pb-[65px] pt-5 sm:pt-[30px] md:pt-10 lg:pt-[50px]
    }

    .section-header {
        @apply flex items-baseline gap-4
    }

    .heading-home {
        @apply font-title text-xl sm:text-2xl py-5 lg:text-3xl text-primary dark:text-white inline tracking-wide
    }

    .desc {
        @apply text-xs sm:text-sm text-muted-foreground
    }

    /* End home */
    /* detail */
    .heading-detail {
        @apply font-ui line-clamp-none sm:line-clamp-2 text-xl font-semibold
    }

    .text-meta {
        @apply text-sm text-black/50 dark:text-white/50 flex gap-1.5 items-center flex-shrink-0 min-w-[123px]
    }

    .bg-section-detail {
        @apply bg-white dark:bg-black/10 shadow-[0_1px_3px_0_rgba(106,115,133,.08)]  rounded-xs
    }

    /* End detail */
    /* reading page */
    .bg-setting {
        @apply bg-[#212121] border-[#3e3e3e] text-white
    }

    .text-setting {
        @apply text-[#777]
    }

    /* End reading page */
    /* Sheet */
    [data-hide-close] > button.absolute.top-4.right-4 {
        @apply hidden;
    }

    [data-slot="sheet-overlay"] {
        @apply bg-black/80
    }

    /* End Sheet */
}

@theme {
    @keyframes fade-in-out {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        10% {
            opacity: 1;
            transform: translateY(0);
        }
        90% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    --animate-fade-in-out: fade-in-out 2.5s ease-in-out both;
}